.wrapper {
    max-width: 1280px;
}
header {
    display: flex;
    background-color: black;
    padding-left: 65px;
    padding-right: 65px;
    flex-direction: row;
    align-items: center;
}
header h2 {
    color: white;
}
ul {
    display: flex;
}
li {
    padding-left: 1em;
    padding-right: 1em;
}



a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: aqua;
    text-decoration: none;
}
a:focus {
    text-decoration: none;
    color:mediumblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
    font-weight: bold;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-weight: normal;
    font-size: 1rem;
}
h6 {
    font-weight: normal;
    font-size: 0.75rem;
}
#about {
    background-color: white;
    padding: 40px 65px;
    color: #0E1215;
}

#services {
    background-color: #fafafa;
    padding: 40px 65px;
    color: #0E1215;
}

#work {
    background-color: white;
    padding: 40px 65px;
    color: #0E1215;
    text-align: center;
}

#quote {
    background-color: #0E1215;
    padding: 40px 65px;
    color: white;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}
