html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1280px;
}
header {
    display: flex;
    background-color: black;
    padding-left: 65px;
    padding-right: 65px;
    flex-direction: row;
    align-items: center;
}
header h2 {
    color: white;
}
ul {
    display: flex;
}
li {
    padding-left: 1em;
    padding-right: 1em;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: aqua;
    text-decoration: none;
}
a:focus {
    text-decoration: none;
    color:mediumblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
    font-weight: bold;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-weight: normal;
    font-size: 1rem;
}
h6 {
    font-weight: normal;
    font-size: 0.75rem;
}

main img#love {
    max-width: 1200px;
    width: 100%;
    height: auto;
}
#about {
    background-color: white;
    padding: 65px 20px 0 40px;
    color: #0E1215;
}
div.about {
    display: flex;
}
div.about div.bio img {
    order: 2;
}

#services {
    display:flex;
    background-color: #fafafa;
    padding: 40px 65px;
    color: #0E1215;
}
#services div.services div.header {
    text-align: center;
}
section#services div.services div.boxes {
    width: 33.33%;
}

#work {
    background-color: white;
    padding: 40px 65px;
    color: #0E1215;
}
#work .text {
    text-align: center;
    padding: 0 175px;
}
#work .images {
    display: grid;
    grid-template-columns: 6fr;
    grid-template-rows: 2fr;
    grid-gap: none;
}
#work div.images figure.img-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#work div.images figure.img-2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
#work div.images figure.img-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#work div.images figure.img-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
#work div.images figure.img-5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

#quote {
    background-color: #0E1215;
    padding: 40px 65px;
}
#quote h2 {
    color: white;
}
#quote h5 > blockquote {
    font-style: italic;
    color: white;
}
#quote h5 > cite {
    color: #fafafa;
    font-style: normal;
}
#contact div.contact {
    display: flex;
}
#contact div.contact div.images {
    display: ;
}
#contact div.contact figure.insta a > img {
    width: 30px;
}
#contact div.contact figure.face a > img {
    width: 30px;
}
#contact div.contact figure.twitter a > img {
    width: 30px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    line-height: 40px;
}
